{% extends "transmission_logging/paginator.html" %}

{% load django_transmission_logging_tags %}

{% block paginator_content %}
    <div class="table">
        <div class="table-header">
            <div class="table-row">
                <div>{{ contenttype|upper }}</div>
            </div>
            <div class="table-row">
                {% if model.list_display %}
                    {% for el in model.list_display%}
                        <div>
                            {{ el }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div></div>
                {% endif %}
            </div>
        </div>
        <div class="table-body">
            {% for transmission in transmissions %}
                <a href="{% url 'transmission_logging:transmission_detail' contenttype=contenttype pk=transmission.pk %}">
                    <div class="table-row">
                        {% if model.list_display %}
                            {% for el in model.list_display%}
                                <div>
                                    {{ transmission|getvalue:el }}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                {{ transmission }}
                            </div>
                        {% endif %}
                    </div>
                </a> 
            {% endfor %}
        </div>
    </div>
{% endblock paginator_content %}